# .npmrc for publishing & installing from GitHub Packages
# replace OWNER with your GitHub username or org

@fox3000foxy:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# optionally set a default registry for everything else:
# registry=https://registry.npmjs.org/
